@{
  Layout = "_Layout";
}

@model WarehouseCompany.Models.Order

<div class="jumbotron text-center">
  <h3> New Order </h3>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Products", "Index", "Products", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Product", "Create", "Products", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Supplier
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Suppliers", "Index", "Suppliers", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Supplier", "Create", "Suppliers", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Order
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Orders", "Index", "Orders", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Order", "Create", "Orders", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.OrderDate): @Html.DisplayFor(model => model.OrderDate)</h3>
<h3>@Html.DisplayNameFor(model => model.OrderQuantity): @Html.DisplayFor(model => model.OrderQuantity)</h3>
<h3>@Html.DisplayNameFor(model => model.OrderPrice): @Html.DisplayFor(model => model.OrderPrice)</h3>
<h3>@Html.DisplayNameFor(model => model.OrderStatus): @Html.DisplayFor(model => model.OrderStatus)</h3>

<p>@Html.ActionLink("Edit Order", "Edit", new { id= Model.OrderId })</p>