@{
  Layout = "_Layout";
}

@model WarehouseCompany.Models.Supplier;

<div class="jumbotron text-center">
  <h2> Supplier Details:</h2>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Products", "Index", "Products", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Product", "Create", "Products", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Supplier
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Suppliers", "Index", "Suppliers", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Supplier", "Create", "Suppliers", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>
<h3>@Html.DisplayNameFor(model => model.SupplierName): @Html.DisplayFor(model => model.SupplierName)</h3>
<h3>@Html.DisplayNameFor(model => model.SupplierAddress): @Html.DisplayFor(model => model.SupplierAddress)</h3>
<h3>@Html.DisplayNameFor(model => model.SupplierCountry): @Html.DisplayFor(model => model.SupplierCountry)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p> No currently listed products</p>
}
else
{
  <h4> This Supplier's Products:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Product.ProductName</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Supplier", "Edit", new { id = Model.SupplierId })</p>
<p>@Html.ActionLink("Delete Supplier", "Delete", new { id = Model.SupplierId })</p>