@{
  Layout = "_Layout";
}

@model WarehouseCompany.Models.Supplier

<div class="jumbotron text-center">
  <h2>Edit this Supplier: @Html.DisplayFor(model => model.SupplierName)</h2>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          @Html.ActionLink("Home", "Index", "Home", null, new { @class="nav-link" })
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Products", "Index", "Products", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Product", "Create", "Products", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#!" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Supplier
          </a>
          <ul class="dropdown-menu">
            <li>@Html.ActionLink("All Suppliers", "Index", "Suppliers", null, new { @class="dropdown-item" })</li>
            <li>@Html.ActionLink("Add new Supplier", "Create", "Suppliers", null, new { @class="dropdown-item" })</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SupplierId)
  @Html.LabelFor(model => model.SupplierName)
  @Html.EditorFor(model => model.SupplierName)
  @Html.LabelFor(model => model.SupplierAddress)
  @Html.EditorFor(model => model.SupplierAddress)
  @Html.LabelFor(model => model.SupplierCountry)
  @Html.EditorFor(model => model.SupplierCountry)

  <input type="submit" value="Save Changes" />
}
<p>@Html.ActionLink("Back to Suppliers List", "Index")</p>